body{
    background-color: #c0baaf;
    margin: 0px;
    font-family: "Microsoft YaHei";
}
article{
    margin: 20px;
    border:solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-color: #c087b8;
    border-bottom-color: #c087b8;
    background-color: white;
    padding: 40px 20px;
}
article div{
    text-indent: 30px;
}
article div p{
    line-height: 200%
}
article div a{
    color: blue;
}
article ul{
    list-style-type: none;
}
article h4{
    font-size: 14px;
    color: #c0baaf;
}
nav{
    width:100%;
    height: 100px;
    background-color: #1e1e14;
    background-attachment: fixed;
}
nav img{
    left: 30px;
    width: 200px;
    height: 100px;
    background-color: #1e1e14;

}
nav ul{
    float:right;
}
nav ul li{
    line-height: 100px;
    float: left;
    width: 100px;
}
nav ul li a{
    color:white;
    font-size: 15px;
    text-decoration: none;
}
.container{
    margin: 20px;
    border:solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-color: #c087b8;
    border-bottom-color: #c087b8;
    background-color: white;
    padding: 40px 20px;

}
.container figure{
    border:solid;
    width: 300px;
    height: 240px;
    text-align: center;
    border-color: #fdb1ff;
}
table{
    width: 100%;

}
table tr th{
    background-color: #000000;
    color: white;

}
.tr1 td{
    background-color: #c0baaf;

}
.container.h10{
    width: 2px;
    height: 20px;
    background-color: #c087b8;
}
form{
    text-align: center;
}
form p.p1{
    opacity:0.4;
}
form label{
    position: absolute;
    right: 58%;
}
form input.button{
    width: 100%;
    height: 50px;
    border-radius: 12px;
    background-color: blue;
}
footer{
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    color: white;
    background-color: black;
}